@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;800&display=swap');

:root { 
    --color--primary-cyan: hsl(179, 62%, 43%);
    --color--primary-yellow: hsl(71, 73%, 54%);

    --color--neutral-white: hsla(0, 0%, 100%, 1);
    --color--neutral-gray: hsl(204, 43%, 93%);
    --color--neutral-blue: hsl(218, 22%, 67%);

    font-family: 'Karla', sans-serif;
    font-size: 16px;
    line-height: 1.2rem;

    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
  }
    
  * {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: border-box;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }
   
  html, body {
   background: var(--color--neutral-gray);
  }
    
  img,
  picture, 
  svg {
    display: block;
    max-width: 100%;
  }
  
  /*------------------------------------ End of Reset -----------------------------*/
  
  /*------------------------------------ Desktop first ---------------------*/
 
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 2rem;
  }

 .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 785px;
  text-align: left;
  background: var(--color--neutral-white);
  border-radius: 0.5rem;
  box-shadow: 0.5rem 1rem 3rem hsla(240, 75%, 51%, 0.05);
 }

.invitation {
  display: grid;
  grid-column-start: span 2;
  padding: 2rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--color--primary-cyan);
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.1rem;
  font-weight: 800;
  margin-bottom: 1.2rem;
}

p {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1.2rem ;
  color: var(--color--neutral-blue);
}

.accent {
  color: var(--color--primary-yellow);
}

.pricing {
  background-color: var(--color--primary-cyan);
  padding: 2rem;
  color: var(--color--neutral-white);
  border-radius: 0 0 0 0.5rem;
}

.transparent {
  color: var(--color--neutral-white);
  opacity: 0.7;
}

.white {
  color: var(--color--neutral-white);
}

span {
  color: var(--color--neutral-white);
  opacity: 1;
  font-size: 2rem;
  font-weight: 800;
}

.value {
  background-color: var(--color--primary-cyan);
  opacity: 0.8;
  color: var(--color--neutral-white);
  padding: 2rem;
  border-radius: 0 0 0.5rem 0;
}

.value li {
  list-style: none;
}

  /*----- Tablet sizing -----*/
  @media (max-width: 785px) {

    .invitation, .pricing, .value {
      display: grid;
      grid-column-start: span 2; 
    }

    .pricing {
      border-radius: 0;
    }

    .value {
      border-radius: 0 0 0.5rem 0.5rem;
    }

    p,  ul {
      font-size: calc(90%);
      margin-bottom: 0.9rem;
    }

  }


 /*-- Utility classes --*/
  
 button { 
  cursor: pointer;
  background-color: var(--color--primary-yellow);
  color: var(--color--neutral-white);
  letter-spacing: 1.1px;
  font-weight: 600;
  width: 100%;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin: 1rem 0 0 0 ;
  box-shadow: 0.5rem 1rem 3rem hsla(240, 76%, 10%, 0.08);
  transition: all 0.6s smooth;
}

button:hover {
  background-color: var(--color--neutral-white);
  color: var(--color--primary-yellow);
}





